{% extends "base.html" %}

{% block content %}

{% if errors %}
  <div class="alert alert-danger">
    <ul>
      {% for error in errors %}
        <li>{{error}}</li>
      {% endfor %}
     </ul>
  </div>
{% endif %}

  <h1>Muokkaa postausta {{attributes.otsikko}}</h1>
  <form method="post" action="{{base_path}}/postaus/{{attributes.id}}/muokkaa">
	  <div class="form-group">
	  <label>Otsikko</label>
	  <input class="form-control" name="otsikko" value="{{attributes.otsikko}}" type="text">
	  </div>

	  <div class="form-group">
    <label>Teksti</label>
	  <textarea class="form-control" name="leipateksti">{{attributes.leipateksti}}</textarea>
	  </div>


    <div class="form-group">
    <label>Kategoriat<br/><span style="font-weight:normal; color: #333333">erottele pilkulla eli näin: musa,makkara,juttujuttu</span></label>
    <input class="form-control" name="kategoriat" value="{{kategoriat}}" type="text">
    </div>

	  <div class="checkbox">
		  <label>
			  <input type="checkbox" name="julkaistu" {% if attributes.julkaistu == 'y' %} checked="checked" {% endif %} >
			  Julkaistu
		  </label>
	  </div>

	  <div class="form-group">
		  <button type="submit" class="btn btn-primary">Tallenna</button>
	  </div>
  </form>

</div>
{% endblock %}
