{% extends "base.html" %}

{% block content %}

  {% if postaus.julkaistu == 'y' %}
  <div class="pos">
    <h1><a href="#">{{postaus.otsikko}}</a></h1>

    <p>{{postaus.leipateksti}}</p>

    <p style="color: grey;">{{postaus.pvm|date("d.m.Y")}}</p>

    {% for kategoria in kategoriat %}
      <a href="{{base_path}}/kategoria/{{kategoria.nimi}}">{{kategoria.nimi}}</a> 
    {% endfor %}
  </div>

<form method="post" action="{{base_path}}/postaus/{{postaus.id}}/poista">
    <button type="submit" style="float:left; margin-right: 1em" class="btn btn-danger">Poista</button>
</form>

<a href="{{base_path}}/postaus/{{postaus.id}}/muokkaa" class="btn btn-default">Muokkaa</a>

  {% endif %}
{% endblock %}
