{% extends "base.html" %}

{% block content %}


{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<a href="{{base_path}}/postaus/uusi">Lisää uusi</a>

{% for postaus in postaukset %}
  {% if postaus.julkaistu == 'n' %}
    <div class="pos" style="color:grey;">
  {% else %}
    <div class="pos">
  {% endif %}
    <h1><a href="{{base_path}}/postaus/{{postaus.id}}">{{postaus.otsikko}}</a></h1>

    <p>{{postaus.leipateksti}}</p>

    <p style="color: grey;">{{postaus.pvm|date("d.m.Y")}}</p>
  </div>
{% endfor %}
{% endblock %}
