{% extends "base.html" %}

{% block content %}


    {% if user_logged_in %}
    <h1><a href="{{base_path}}/kategoria/{{kategoria.nimi}}/muokkaa">{{kategoria.nimi}}</a></h1>
    {% else %}
    <h1>{{kategoria.nimi}}</h1>
    {% endif %}

    {% if kategoria.kuvaus %} <p style="color:#333333;">{{kategoria.kuvaus}}</p>{% endif %}

    <ul style="list-style:none;padding:0;margin-top: 1em;">
    {% for postaus in postaukset %}
      {% if postaus.julkaistu == 'y' or user_logged_in %}
      <li><a href="{{base_path}}/postaus/{{postaus.id}}">{{postaus.otsikko}}</a></li>
      {% endif %}
    {% endfor %}
    </ul>

{% endblock %}
