{% extends "base.html" %}

{% block content %}
  <h1>Muokkaa prujua Luento 1 (2019303.3.)</h1>

  <form>
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value="Luento 1" type="text">
    </div>
    <div class="form-group">
      <label>Päivämäärä</label>
      <input class="form-control" value="2019303.3." type="text">
    </div>
    <div class="form-group">
      <label>Tiedosto</label>
      <a href="#">luento_1.pdf</a>
      <button class="btn btn-danger">Poista tiedosto</button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>

    <button class="btn btn-danger">Poista koko juttu</button>
  </form>
{% endblock %}
