{% extends "base.html" %}

{% block content %}
  <h1>Laskennan Mallit</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää pruju</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi (pvm)</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">Luento 1 (201.4.3.)</a></td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
      <tr>
	<td><a href="#">Luento 2 (020.20200.11)</a></td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}
